[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
colorama = "*"
pymongo = "*"
groq = "*"
flask = "*"
flask-core = "*"
dotenv = "*"
google-genai = "*"
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.12"
