
@import "tailwindcss";

@layer base{
  :root{
    --color-color1: #213A57;
    --color-color2: #0B6477;
    --color-color3: #14919B;
    --color-color4: #0AD1C8;
    --color-color5: #45DFB1;
    --color-color6: #80ED99;
    --color-color7: #93C5FD;
    --color-color8: #60A5FA;
    --color-color9: #213A57;
    
    --font-fontArial: "Arial";

    --shadow-dark : 4px 4px 6px #213A53;
    /* --animate-bounce-spin: bounce-spin 3s infinite linear; */
    --hover-send-paper-color: #45DFB1;
    --hover-send-paper-angle: -320deg;
  }
  .dark{
    --color-color1: #374151;
    --color-color2: #1F2937;
    --color-color3: #F78C6B;
    --color-color4: #EF476F;
    --color-color5: #BE185D;
    --color-color6: #118AB2;
    --color-color7: #F3F4F6;
    --color-color8: #D1D5DB;
    --color-color9: #D1D5DB;
    
  }
}

@layer utilities {
  .animate-reveal {
    /* On définit le masque initial : un dégradé noir qui prend toute la place */
    /* mais dont la TAILLE est à 0% au début */
    -webkit-mask-image: linear-gradient(to right, black, black);
    mask-image: linear-gradient(to right, black, black);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 0% 100%;
    mask-size: 0% 100%;
    
    /* Appel de l'animation */
    animation: revealRight 1.5s ease-out forwards;
  }
  .animate-skew{
    animation: skew-perso .7s ease-in;
  }
  .bounce-spin{
    animation:bounce-spin 4s ease-in-out infinite;
  }
  .bounce-spin-faster{
    animation : bounce-spin 2s ease-in-out infinite;
  } 
  .div-perso{
    display: flex;
  }
  .btn-perso{
    display: none;
    transition: .7s ease-in-out;
  }
  .div-perso:hover .btn-perso{
    display: flex;
  }

  .rotate-hover{
    transition: transform .7s ease-in-out;
  }
  .rotate-hover:hover{
    color:var(--hover-send-paper-color);
    transform: translateY(8px) rotate(var(--hover-send-paper-angle));
  }

  .bg-color1{
    background-color: var(--color-color1);
  }
  .bg-color2{
    background-color: var(--color-color2);
  }
  .bg-color3{
    background-color: var(--color-color3);
  }
  .bg-color4{
    background-color: var(--color-color4);
  }
  .bg-color5{
    background-color: var(--color-color5);
  }
  .bg-color6{
    background-color: var(--color-color6);
  }
  .bg-color7{
    background-color: var(--color-color7);
  }
  .bg-color8{
    background-color: var(--color-color8);
  }
  .text-color1{
    color: var(--color-color1);
  }
  .text-color2{
    color: var(--color-color2);
  }
  .text-color3{
    color: var(--color-color3);
  }
  .text-color4{
    color: var(--color-color4);
  }
  .text-color5{
    color: var(--color-color5);
  }
  .text-color6{
    color: var(--color-color6);
  }
  .text-color7{
    color: var(--color-color7);
  }
  .text-color8{
    color: var(--color-color8)
  }
  .text-color9{
    color: var(--color-color9)
  }
  .border-color8{
    border-color: var(--color-color8);
  }
  
  .btn-hover{
    transition: .7s ease-in;
  }
  .btn-hover:hover{
    background-color: var(--color-color2);
    color: var(--color-color4);
  }
  .btn-hover1{
    transition: .7s ease-in;
  }
  .btn-hover1:hover{
    background-color: var(--color-color1);
    color: var(--color-color4);
  }
  
  @keyframes revealRight {
    0% {
      -webkit-mask-size: 0% 100%;
      mask-size: 0% 100%;
    }
    100% {
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
    }
  }

  @keyframes bounce-spin {
    
    0% { transform: translateY(0%) rotate(0deg); }
    25% { transform: translateY(-40%) rotate(0deg); }
    50% { transform: translateY(-40%) rotate(360deg); }
    100% { transform: translateY(0) rotate(360deg); }
  }
  
  @keyframes skew-perso {
      0%{opacity: 0; transform: skewY(12deg);}
      50%{opacity: .5; transform: skewY(6deg);}
      100%{opacity: 1; transform: skewY(0deg);}
  }
}
